
c_white = #ffffff
c_dark = #000000
c_blue_facebook = #3b5998
c_blue_twitter = #4099ff
c_red_www = #e00e54
c_red_mail = #ad0055
c_green_whatsapp = #0dc143
c_red_gplus = #d34836

c_blue = #029ec7
c_blue2 = #027fb4
c_home = #029ec7
c_news = #02adc7
c_events = #027fb4
c_photos = #026ea4
c_videos = #025b99
c_biography = #029bc1
c_fans = #0db8c9




//windowsize
window-lg     =    1200px
window-md     =    970px
window-sm     =    750px
window-xs     =    480px

//colorspage
verdeClaro = #417e80
verdeOscuro = #003334
verde = #035355
verdeBack = #1b6566
naranja = #dd5d0f
naranjaClaro = #e48025
texto = #035155
.c_naranja
    color naranja
.c_facebook
    background c_blue_facebook
.c_twitter
    background c_blue_twitter
.c_youtube
    background c_red_gplus
.c_linkedin
    background #0077b5
.c_instagram
    background #3f729b
